In [22]:
import pandas as pd
import pandas_profiling as ppf
import warnings
pd.set_option('max_columns', None)
warnings.filterwarnings('ignore')

## 加载数据

In [7]:
train = pd.read_csv('./data/used_car_train_20200313.csv', sep=' ')
train.head()

,SaleID,name,regDate,model,brand,bodyType,fuelType,gearbox,power,kilometer,notRepairedDamage,regionCode,seller,offerType,creatDate,price,v_0,v_1,v_2,v_3,v_4,v_5,v_6,v_7,v_8,v_9,v_10,v_11,v_12,v_13,v_14
0,0,736,20040402,30.0,6,1.0,0.0,0.0,60,12.5,0.0,1046,0,0,20160404,1850,43.357796,3.966344,0.050257,2.159744,1.143786,0.235676,0.101988,0.129549,0.022816,0.097462,-2.881803,2.804097,-2.420821,0.795292,0.914762
1,1,2262,20030301,40.0,1,2.0,0.0,0.0,0,15.0,-,4366,0,0,20160309,3600,45.305273,5.236112,0.137925,1.380657,-1.422165,0.264777,0.121004,0.135731,0.026597,0.020582,-4.900482,2.096338,-1.030483,-1.722674,0.245522
2,2,14874,20040403,115.0,15,1.0,0.0,0.0,163,12.5,0.0,2806,0,0,20160402,6222,45.978359,4.823792,1.319524,-0.998467,-0.996911,0.251410,0.114912,0.165147,0.062173,0.027075,-4.846749,1.803559,1.565330,-0.832687,-0.229963
3,3,71865,19960908,109.0,10,0.0,0.0,1.0,193,15.0,0.0,434,0,0,20160312,2400,45.687478,4.492574,-0.050616,0.883600,-2.228079,0.274293,0.110300,0.121964,0.033395,0.000000,-4.509599,1.285940,-0.501868,-2.438353,-0.478699
4,4,111080,20120103,110.0,5,1.0,0.0,0.0,68,5.0,0.0,6977,0,0,20160313,5200,44.383511,2.031433,0.572169,-1.571239,2.246088,0.228036,0.073205,0.091880,0.078819,0.121534,-1.896240,0.910783,0.931110,2.834518,1.923482

In [42]:
test = pd.read_csv('./data/used_car_testB_20200421.csv', sep=' ')
test['price'] = -1
test.head()

,SaleID,name,regDate,model,brand,bodyType,fuelType,gearbox,power,kilometer,notRepairedDamage,regionCode,seller,offerType,creatDate,v_0,v_1,v_2,v_3,v_4,v_5,v_6,v_7,v_8,v_9,v_10,v_11,v_12,v_13,v_14,price
0,200000,133777,20000501,67.0,0,1.0,0.0,0.0,101,15.0,0.0,5019,0,0,20160308,42.142061,-3.094739,-0.721300,1.466344,1.009846,0.236520,0.000241,0.105319,0.046233,0.094522,3.619512,-0.280607,-2.019761,0.978828,0.803322,-1
1,200001,61206,19950211,19.0,6,2.0,0.0,0.0,73,6.0,0.0,1505,0,0,20160310,43.907034,-3.244605,-0.766430,1.276718,-1.065338,0.261518,0.000000,0.120323,0.046784,0.035385,2.997376,-1.406705,-1.020884,-1.349990,-0.200542,-1
2,200002,67829,20090606,5.0,5,4.0,0.0,0.0,120,5.0,-,1776,0,0,20160309,45.389665,3.372384,-0.965565,-2.447316,0.624268,0.261691,0.090836,0.000000,0.079655,0.073586,-3.951084,-0.433467,0.918964,1.634604,1.027173,-1
3,200003,8892,20020601,22.0,9,1.0,0.0,0.0,58,15.0,0.0,26,0,0,20160314,42.788775,4.035052,-0.217403,1.708806,1.119165,0.236050,0.101777,0.098950,0.026830,0.096614,-2.846788,2.800267,-2.524610,1.076819,0.461610,-1
4,200004,76998,20030301,46.0,6,0.0,NaN,0.0,116,15.0,0.0,738,0,0,20160306,43.670763,-3.135382,-1.134107,0.470315,0.134032,0.257000,0.000000,0.066732,0.057771,0.068852,2.839010,-1.659801,-0.924142,0.199423,0.451014,-1

In [78]:
data = pd.concat([train, test], axis=0, ignore_index=True)
data.sample(5)

,SaleID,name,regDate,model,brand,bodyType,fuelType,gearbox,power,kilometer,notRepairedDamage,regionCode,seller,offerType,creatDate,price,v_0,v_1,v_2,v_3,v_4,v_5,v_6,v_7,v_8,v_9,v_10,v_11,v_12,v_13,v_14
116581,116581,191766,20040211,39.0,9,0.0,0.0,0.0,0,15.0,0.0,2998,0,0,20160317,3500,43.906062,-3.070643,-1.036519,-0.664205,1.243275,0.249753,0.000341,0.040773,0.074301,0.099370,2.590908,-1.933851,-0.110874,1.548354,0.440614
91801,91801,97719,20000810,31.0,10,2.0,1.0,0.0,0,15.0,0.0,4136,0,0,20160327,1600,44.200169,-3.278185,-0.622894,1.572986,-1.088031,0.261311,0.000000,0.138148,0.043897,0.035541,2.978078,-1.399468,-0.981340,-1.655979,-0.683164
10857,10857,23346,20020905,161.0,25,2.0,1.0,1.0,133,15.0,0.0,2446,0,0,20160317,1250,44.090282,3.777888,-0.477742,0.657568,0.742946,0.249477,0.098341,0.067449,0.040422,0.085836,-3.322198,1.540687,-1.371381,0.673708,-0.685366
165473,215473,27360,20030209,46.0,6,0.0,1.0,0.0,116,15.0,0.0,1974,0,0,20160401,-1,43.708962,3.316027,-0.952474,1.637503,0.243693,0.256503,0.091853,0.061233,0.027053,0.072973,-2.737429,1.460341,-2.397269,0.127659,0.287747
192173,242173,45531,20060606,156.0,14,3.0,0.0,0.0,90,12.5,0.0,728,0,0,20160311,-1,44.633382,-3.095941,-0.940021,-1.235804,2.456779,0.243664,0.000445,0.028696,0.084861,0.136922,2.290024,-2.379402,0.603847,2.334252,-2.046968

## 数据探索与处理

In [11]:
# %%time
# # 生成数据探索报告
# report = ppf.ProfileReport(train)
# report.to_file('report.html')

HBox(children=(HTML(value='Summarize dataset'), FloatProgress(value=0.0, max=45.0), HTML(value='')))

HBox(children=(HTML(value='Generate report structure'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

HBox(children=(HTML(value='Render HTML'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

HBox(children=(HTML(value='Export report to file'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

CPU times: user 7min 31s, sys: 9.25 s, total: 7min 40s
Wall time: 44min 33s

In [69]:
# 可去除的columns
drop_cols = ['SaleID', 'offerType', 'seller']
# 类别columns
cat_cols = ['name', 'model', 'brand', 'bodyType', 'fuelType', 'gearbox', 'notRepairedDamage', 'regionCode']
# 日期columns
date_cols = ['regDate', 'creatDate']

### 异常值处理

In [24]:
data['power'].describe()

count    200000.000000
mean        119.429150
std         184.885438
min           0.000000
25%          75.000000
50%         110.000000
75%         150.000000
max       19312.000000
Name: power, dtype: float64

In [79]:
temp = int(data['power'].mean() + 3 * data['power'].std())
data['power'][data['power'] > temp] = temp
data['power'].describe()

count    200000.000000
mean        116.840595
std          70.659432
min           0.000000
25%          75.000000
50%         110.000000
75%         150.000000
max         674.000000
Name: power, dtype: float64

In [80]:
data['notRepairedDamage'].value_counts()

0.0    148585
-       32393
1.0     19022
Name: notRepairedDamage, dtype: int64

In [81]:
data['notRepairedDamage'].replace('-', '2', inplace=True)
data['notRepairedDamage'] = data['notRepairedDamage'].astype('float64')
data['notRepairedDamage'].value_counts()

0.0    148585
2.0     32393
1.0     19022
Name: notRepairedDamage, dtype: int64

### 缺失值处理

In [82]:
data.isna().sum()[data.isna().any()] / data.shape[0]

model       0.000005
bodyType    0.030050
fuelType    0.058020
gearbox     0.039745
dtype: float64

In [83]:
# 确实比例都不大，且都为类别数据，因此都是用众数填充
for col in ['model', 'bodyType', 'fuelType', 'gearbox']:
    data[col] = data[col].fillna(data[col].mode()[0])
data.isna().sum().any()

False

### 日期数据处理

In [84]:
data[date_cols].head(3)

    regDate  creatDate
0  20040402   20160404
1  20030301   20160309
2  20040403   20160402

In [85]:
for col in date_cols:
    data[col] = pd.to_datetime(data[col], format='%Y%m%d', errors='coerce')
    data[col + '_year'] = data[col].dt.year
    data[col + '_month'] = data[col].dt.month
    data[col + '_day'] = data[col].dt.day
    data[col + '_diff'] = (data[col] - data[col].min()).dt.days

### 删除多余特征

In [86]:
data.drop(drop_cols, axis=1, inplace=True)
data.drop(date_cols, axis=1, inplace=True)  # 原始日期数据删除

### 模型训练与融合

In [61]:
import xgboost as xgb
import lightgbm as lgb

In [87]:
train_X = data[data['price'] > -1].drop('price', axis=1)
train_y = data[data['price'] > -1]['price']
test_X = data[data['price'] == -1]

#### XGBoost

In [ ]:
xgb_model = xgb.XGBRegressor(n_estimators=200, max_depth=8, learning_rate=0.05, subsample=0.8, colsample_bytree=0.8, random_state=2021)
xgb_model.fit(train_X, train_y)

In [ ]:
xgb_model = xgb.XGBRegressor(max_depth=8, learning_rate=0.1, n_estimators=160, silent=False)#, objective='reg:gamma'
lgb_model = lgb.LGBMRegressor(
    boosting_type="gbdt", num_leaves=31, reg_alpha=10, reg_lambda=5,
    max_depth=-1, n_estimators=500,
    subsample=0.9, colsample_bytree=0.9, subsample_freq=2, min_child_samples=10,
    learning_rate=0.05, random_state=2019,
)

cbt_model = cbt.CatBoostRegressor(iterations=10,depth=5,learning_rate=0.1,loss_function='RMSE')