In [2]:
import pandas as pd
# import pandas_profiling as ppf
import warnings
pd.set_option('max_columns', None)
warnings.filterwarnings('ignore')

## 加载数据

In [31]:
train = pd.read_csv('./data/used_car_train_20200313.csv', sep=' ')
train.head()

,SaleID,name,regDate,model,brand,bodyType,fuelType,gearbox,power,kilometer,notRepairedDamage,regionCode,seller,offerType,creatDate,price,v_0,v_1,v_2,v_3,v_4,v_5,v_6,v_7,v_8,v_9,v_10,v_11,v_12,v_13,v_14
0,0,736,20040402,30.0,6,1.0,0.0,0.0,60,12.5,0.0,1046,0,0,20160404,1850,43.357796,3.966344,0.050257,2.159744,1.143786,0.235676,0.101988,0.129549,0.022816,0.097462,-2.881803,2.804097,-2.420821,0.795292,0.914762
1,1,2262,20030301,40.0,1,2.0,0.0,0.0,0,15.0,-,4366,0,0,20160309,3600,45.305273,5.236112,0.137925,1.380657,-1.422165,0.264777,0.121004,0.135731,0.026597,0.020582,-4.900482,2.096338,-1.030483,-1.722674,0.245522
2,2,14874,20040403,115.0,15,1.0,0.0,0.0,163,12.5,0.0,2806,0,0,20160402,6222,45.978359,4.823792,1.319524,-0.998467,-0.996911,0.251410,0.114912,0.165147,0.062173,0.027075,-4.846749,1.803559,1.565330,-0.832687,-0.229963
3,3,71865,19960908,109.0,10,0.0,0.0,1.0,193,15.0,0.0,434,0,0,20160312,2400,45.687478,4.492574,-0.050616,0.883600,-2.228079,0.274293,0.110300,0.121964,0.033395,0.000000,-4.509599,1.285940,-0.501868,-2.438353,-0.478699
4,4,111080,20120103,110.0,5,1.0,0.0,0.0,68,5.0,0.0,6977,0,0,20160313,5200,44.383511,2.031433,0.572169,-1.571239,2.246088,0.228036,0.073205,0.091880,0.078819,0.121534,-1.896240,0.910783,0.931110,2.834518,1.923482

In [32]:
test = pd.read_csv('./data/used_car_testB_20200421.csv', sep=' ')
test['price'] = -1
test.head()

,SaleID,name,regDate,model,brand,bodyType,fuelType,gearbox,power,kilometer,notRepairedDamage,regionCode,seller,offerType,creatDate,v_0,v_1,v_2,v_3,v_4,v_5,v_6,v_7,v_8,v_9,v_10,v_11,v_12,v_13,v_14,price
0,200000,133777,20000501,67.0,0,1.0,0.0,0.0,101,15.0,0.0,5019,0,0,20160308,42.142061,-3.094739,-0.721300,1.466344,1.009846,0.236520,0.000241,0.105319,0.046233,0.094522,3.619512,-0.280607,-2.019761,0.978828,0.803322,-1
1,200001,61206,19950211,19.0,6,2.0,0.0,0.0,73,6.0,0.0,1505,0,0,20160310,43.907034,-3.244605,-0.766430,1.276718,-1.065338,0.261518,0.000000,0.120323,0.046784,0.035385,2.997376,-1.406705,-1.020884,-1.349990,-0.200542,-1
2,200002,67829,20090606,5.0,5,4.0,0.0,0.0,120,5.0,-,1776,0,0,20160309,45.389665,3.372384,-0.965565,-2.447316,0.624268,0.261691,0.090836,0.000000,0.079655,0.073586,-3.951084,-0.433467,0.918964,1.634604,1.027173,-1
3,200003,8892,20020601,22.0,9,1.0,0.0,0.0,58,15.0,0.0,26,0,0,20160314,42.788775,4.035052,-0.217403,1.708806,1.119165,0.236050,0.101777,0.098950,0.026830,0.096614,-2.846788,2.800267,-2.524610,1.076819,0.461610,-1
4,200004,76998,20030301,46.0,6,0.0,NaN,0.0,116,15.0,0.0,738,0,0,20160306,43.670763,-3.135382,-1.134107,0.470315,0.134032,0.257000,0.000000,0.066732,0.057771,0.068852,2.839010,-1.659801,-0.924142,0.199423,0.451014,-1

In [81]:
data = pd.concat([train, test], axis=0, ignore_index=True)
data.sample(5)

,SaleID,name,regDate,model,brand,bodyType,fuelType,gearbox,power,kilometer,notRepairedDamage,regionCode,seller,offerType,creatDate,price,v_0,v_1,v_2,v_3,v_4,v_5,v_6,v_7,v_8,v_9,v_10,v_11,v_12,v_13,v_14
146588,146588,166640,20021012,64.0,21,1.0,0.0,0.0,82,0.5,0.0,997,0,0,20160320,1500,42.064834,-3.013426,-0.730514,0.254391,2.116582,0.228619,0.000385,0.069095,0.063049,0.125886,3.427419,-0.514745,-1.313054,2.248451,-0.921430
147295,147295,51929,20150512,8.0,0,2.0,0.0,0.0,150,2.0,0.0,5563,0,0,20160308,33500,47.691261,-3.180706,1.135672,-4.104319,0.301698,0.252471,0.001445,0.135307,0.125489,0.060134,1.241553,-3.279612,5.104327,0.879486,1.969089
145485,145485,21736,20010502,168.0,0,2.0,0.0,0.0,105,15.0,0.0,4600,0,0,20160322,1490,43.180223,-3.148504,-1.085439,1.138917,0.652279,0.249591,0.000000,0.080361,0.049798,0.084941,3.144257,-1.188871,-1.561363,0.502869,0.250584
78452,78452,134758,20100602,0.0,0,0.0,0.0,0.0,211,7.0,0.0,6353,0,0,20160329,14999,46.776441,-3.196202,0.362325,-2.556519,0.080976,0.257737,0.000950,0.114008,0.102982,0.058928,1.635424,-2.979179,3.262049,0.384192,1.496631
17082,17082,14634,20040410,40.0,1,4.0,1.0,0.0,163,15.0,-,3330,0,0,20160322,6199,46.952337,4.526694,-0.295264,-0.293357,-1.365038,0.279566,0.110934,0.078426,0.050275,0.021626,-5.198257,0.227531,0.561709,-1.426143,0.513853

## 数据探索与处理

In [11]:
# %%time
# # 生成数据探索报告
# report = ppf.ProfileReport(train)
# report.to_file('report.html')

HBox(children=(HTML(value='Summarize dataset'), FloatProgress(value=0.0, max=45.0), HTML(value='')))

HBox(children=(HTML(value='Generate report structure'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

HBox(children=(HTML(value='Render HTML'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

HBox(children=(HTML(value='Export report to file'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

CPU times: user 7min 31s, sys: 9.25 s, total: 7min 40s
Wall time: 44min 33s

In [34]:
# 可去除的columns
drop_cols = ['SaleID', 'offerType', 'seller']
# 类别columns
cat_cols = ['name', 'model', 'brand', 'bodyType', 'fuelType', 'gearbox', 'notRepairedDamage', 'regionCode']
# 日期columns
date_cols = ['regDate', 'creatDate']

### 异常值处理

In [7]:
data['power'].describe()

count    200000.000000
mean        119.429150
std         184.885438
min           0.000000
25%          75.000000
50%         110.000000
75%         150.000000
max       19312.000000
Name: power, dtype: float64

In [82]:
temp = int(data['power'].mean() + 3 * data['power'].std())
data['power'][data['power'] > temp] = temp
data['power'].describe()

count    200000.000000
mean        116.840595
std          70.659432
min           0.000000
25%          75.000000
50%         110.000000
75%         150.000000
max         674.000000
Name: power, dtype: float64

In [83]:
data['notRepairedDamage'].value_counts()

0.0    148585
-       32393
1.0     19022
Name: notRepairedDamage, dtype: int64

In [84]:
data['notRepairedDamage'].replace('-', '2', inplace=True)
data['notRepairedDamage'] = data['notRepairedDamage'].astype('float64')
data['notRepairedDamage'].value_counts()

0.0    148585
2.0     32393
1.0     19022
Name: notRepairedDamage, dtype: int64

### 缺失值处理

In [85]:
data.isna().sum()[data.isna().any()] / data.shape[0]

model       0.000005
bodyType    0.030050
fuelType    0.058020
gearbox     0.039745
dtype: float64

In [86]:
# 确实比例都不大，且都为类别数据，因此都是用众数填充
for col in ['model', 'bodyType', 'fuelType', 'gearbox']:
    data[col] = data[col].fillna(data[col].mode()[0])
data.isna().sum().any()

False

### 日期数据处理

In [66]:
data[date_cols].head(3)

    regDate  creatDate
0  20040402   20160404
1  20030301   20160309
2  20040403   20160402

In [87]:
for col in date_cols:
    data[col] = pd.to_datetime(data[col], format='%Y%m%d', errors='coerce')
    data[col + '_year'] = data[col].dt.year
    data[col + '_month'] = data[col].dt.month
    data[col + '_day'] = data[col].dt.day
    data[col + '_diff'] = (data[col] - data[col].min()).dt.days

In [88]:
data.sample(5)

,SaleID,name,regDate,model,brand,bodyType,fuelType,gearbox,power,kilometer,notRepairedDamage,regionCode,seller,offerType,creatDate,price,v_0,v_1,v_2,v_3,v_4,v_5,v_6,v_7,v_8,v_9,v_10,v_11,v_12,v_13,v_14,regDate_year,regDate_month,regDate_day,regDate_diff,creatDate_year,creatDate_month,creatDate_day,creatDate_diff
169542,219542,79554,2006-03-12,8.0,0,2.0,1.0,0.0,140,15.0,1.0,774,0,0,2016-04-04,-1,44.500601,-3.151814,-0.384998,-0.613093,-0.443825,0.257036,0.000232,0.102315,0.072929,0.047219,2.541567,-1.861172,0.625724,-0.180194,0.821991,2006.0,3.0,12.0,5549.0,2016,4,4,756
145836,145836,158778,NaT,0.0,0,0.0,0.0,0.0,101,15.0,0.0,4731,0,0,2016-03-20,1500,43.002209,-3.123692,-1.453520,1.101956,-1.329482,0.267413,0.000000,0.066865,0.045432,0.026742,3.065121,-1.438632,-1.717646,-1.130889,0.077561,NaN,NaN,NaN,NaN,2016,3,20,741
99336,99336,44124,2009-05-07,83.0,22,2.0,0.0,0.0,126,7.0,0.0,910,0,0,2016-03-30,4950,45.590741,-3.211889,0.081330,-1.383077,1.620058,0.242270,0.000429,0.106069,0.089074,0.109753,2.207783,-2.252773,1.790023,1.309855,-1.649007,2009.0,5.0,7.0,6701.0,2016,3,30,751
110956,110956,47454,2005-01-05,49.0,1,0.0,1.0,1.0,168,15.0,1.0,6080,0,0,2016-03-23,3500,38.401215,4.168684,17.505717,0.974364,-0.962961,0.000000,0.112923,1.311628,0.067324,0.000000,2.234172,17.318661,7.219330,-1.595343,-0.206558,2005.0,1.0,5.0,5118.0,2016,3,23,744
33281,33281,9257,2005-04-03,0.0,0,0.0,1.0,0.0,105,15.0,0.0,4488,0,0,2016-04-04,5500,45.466238,4.207874,-0.084436,-0.602557,-0.598044,0.263086,0.104926,0.077562,0.055225,0.041845,-4.329500,0.938985,0.266715,-0.264317,0.807234,2005.0,4.0,3.0,5206.0,2016,4,4,756

### 删除多余特征

In [89]:
data.drop(drop_cols, axis=1, inplace=True)
data.drop(date_cols, axis=1, inplace=True)  # 原始日期数据删除

### 模型训练与融合

In [90]:
import xgboost as xgb
import lightgbm as lgb

In [91]:
train_X = data[data['price'] > -1].drop('price', axis=1)
train_y = data[data['price'] > -1]['price']
test_X = data[data['price'] == -1].drop('price', axis=1).reset_index(drop=True)

#### XGBoost

In [93]:
xgb_model = xgb.XGBRegressor(n_estimators=2000, max_depth=8, learning_rate=0.05, subsample=0.9, colsample_bytree=0.9, random_state=2021)
xgb_model.fit(train_X, train_y)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=0.9, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.05, max_delta_step=0, max_depth=8,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=2000, n_jobs=0, num_parallel_tree=1,
             random_state=2021, reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
             subsample=0.9, tree_method='exact', validate_parameters=1,
             verbosity=None)

In [102]:
# result = test[['SaleID']]
# result['price'] = xgb_model.predict(test_X)
# result['price'][result['price'] < train['price'].min()] = train['price'].min()
# result.to_csv('baseline_xgb2.csv', index=False)

#### LightGBM

In [96]:
cat_cols = [c for c in cat_cols if c in train_X.columns]
cat_cols

['name',
 'model',
 'brand',
 'bodyType',
 'fuelType',
 'gearbox',
 'notRepairedDamage',
 'regionCode']

In [106]:
lgb_model = lgb.LGBMRegressor(
    boosting_type="gbdt", num_leaves=31, reg_alpha=0.25, reg_lambda=0.25, objective='regression',
    max_depth=-1, learning_rate=0.01, n_estimators=4000, min_child_samples=3,
    subsample=0.9, colsample_bytree=0.9, random_state=2021
)
lgb_model.fit(train_X, train_y, categorical_feature=cat_cols, verbose=100)

LGBMRegressor(colsample_bytree=0.9, learning_rate=0.01, min_child_samples=3,
              n_estimators=4000, objective='regression', random_state=2021,
              reg_alpha=0.25, reg_lambda=0.25, subsample=0.9)

In [105]:
# result = test[['SaleID']]
# result['price'] = lgb_model.predict(test_X)
# result['price'][result['price'] < train['price'].min()] = train['price'].min()
# result.to_csv('baseline_lgb2.csv', index=False)

#### 结果融合

In [107]:
result = test[['SaleID']]
result['price_1'] = xgb_model.predict(test_X)
result['price_2'] = lgb_model.predict(test_X)

In [108]:
result['price'] = (result['price_1'] + result['price_2']) / 2
result['price'][result['price'] < train['price'].min()] = train['price'].min()
resul = result[['SaleID', 'price']]
resul.head()

   SaleID        price
0  200000  1366.965085
1  200001  1876.815336
2  200002  8602.897942
3  200003  1234.141603
4  200004  1967.558650

In [109]:
resul['price'].describe()

count    50000.000000
mean      5907.525725
std       7346.552859
min         11.000000
25%       1381.554368
50%       3253.009318
75%       7648.270992
max      90604.534440
Name: price, dtype: float64

In [110]:
result.to_csv('baseline_xgb_and_lgb.csv', index=False)

不知为啥lgb的结果不太好，xgb是505，lgb是644，而融合后则是529